node_modules
dist
.git
.env
uploads
data
attached_assets/*
!attached_assets/crownix_logo_1762957456049.png
!attached_assets/crownix_logo_1762957456049-7QivhraH_1774259515259.png
!attached_assets/expertise/
*.log
